:root {
  --poppins: 'Poppins', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}



@media (min-height: 600px) {
  .custom-st-container {
    justify-content: center
  }
}

@media (max-width: 477px) {
  .custom-st-header {
    font-size: 1.8rem;
  }
}

